@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@500&display=swap');
:root{
    --primary:#333
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body {
    overflow-y: overlay;
}


html{
    font-size:62.5%
}
body{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.6em;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,input, [tabindex]{
    border: none;
    .button + .button{
        margin-left: 16px;
    }
}